/* NAV */
.nav {
  position: absolute;
  top: 30px;
  right: 40px;
}

.hamburger {
  font-size: 28px;
  color: #545454;
  cursor: pointer;
}

/* TITLE (same alignment as home) */
.about-title {
  position: absolute;
  top: 80px;
  left: 8%;
  color: #545454;
  font-size: 90px;
}

/* TEXT BLOCK (right side) */
.about-text {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  width: 35%;
  color: #545454;
  font-size: 18px;
  line-height: 1.8;
  text-align: left;
}